Title: Exploratory Data Analysis of the Titanic Dataset using Plotly Express

To perform an exploratory data analysis on the Titanic dataset using Plotly Express. You will create visualizations to gain insights into the passengers' demographics and their chances of survival.

Create a bar plot to visualize the number of passengers who survived and did not survive, broken down by gender.

In [8]:
import pandas as pd
import plotly.express as px

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Create a bar plot to visualize the number of passengers who survived and did not survive, broken down by gender.

In [9]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset from the CSV file
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)
df

# Count the number of passengers by survival status and gender
survived_gender_counts = df.groupby(['Survived', 'Sex']).size().reset_index(name='Count')

# Plot the bar plot
plt.figure(figsize=(8, 6))
plt.bar(x=survived_gender_counts['Survived'] + survived_gender_counts['Sex'],
        height=survived_gender_counts['Count'],
        tick_label=survived_gender_counts['Sex'],
        color=['red', 'green'])

# Set the plot title and labels
plt.title('Number of Passengers by Survival Status and Gender')
plt.xlabel('Gender')
plt.ylabel('Number of Passengers')
plt.xticks([0, 1], ['Did not survive', 'Survived'])

# Show the plot
plt.show()

TypeError: unsupported operand type(s) for +: 'int' and 'str'